/*////////////////////////////////////////////////////////////////*/
#leftbar {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 20%;
    height:71%;
    float: left;
    left: 0;
    top: 7%;
    bottom: 22%;
    background-color: white;
}
#leftscrollbar {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 10%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgb(221, 221, 221);
    border: 1px solid black;
    /*border: 1px solid black;*/
}

.sideoptions {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height:5%;
    margin-bottom: calc((-1 * (1vw + 1vh) + 20px));
}

.leftbarlinks {
    position: relative;
    left: 13%;
    margin: 3%;
    max-width: 70%;
    height: 80%;
    min-height:15px;
}

.leftbarlinksinputs {
    background-color: white;
    border: none;
    height: 100%;
    width: 100%;
    text-align: left;
}
/*////////////////////////////////////////////////////////////////*/
/*
#rightbar {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100px;
    height: 8100%;
    float: right;
    right: 0;
    top: 0;
    background-color: red;
}
*/
#topbar {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 7%;
    background-color: rgb(199, 199, 199);
    border: 1px solid black;
    top: 0;
    left: 0;
}
#toptopbar {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 50%;
    background-color: rgb(199, 199, 199);
    border: 1px solid black;
    top: 0;
    left: 0;
}

#themebutton {
    background-color: transparent;
    border: 0px solid rgb(0, 0, 0);
    /*box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);*/
}
#themebutton:hover {
    background-color: rgba(24, 30, 66, 0.3);
    
}

#formlinks {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 80%;
    height:50%;
    left: 20%;
    bottom: 0;
}

.topbarkeytabs {
    position: relative;
    margin-right: 0.5%;
    max-width: 15%;
    height:100%;
    /*width: 50%;*/
}


.topbarkeytabsinputs {
    background-color: rgb(156, 182, 195);
    border: 1px solid black;
    height:100%;
    width: 100%;
    
}
/*////////////////////////////////////////////////////////////////*/
#bottombar {
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 100%;
    height: 22%;
    background-color: white;
    bottom: 0;
    left: 0;
}
#footertopbar {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 100%;
    height: 19%;
    background-color: rgb(221, 221, 221);
    border: 1px solid black;
    top: 0;
    left: 0;
}
#footertopbarbox {
    display: flex;
    position: absolute;
    flex-direction: row;
    text-align: center;
    width: 10%;
    height: 19%;
    background-color: white;
    border: 1px solid black;
    top: 0;
    left: 0;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: calc((1vw + 1vh) * 0.65);
    p {
        margin: auto;
    }
}

footer {
    margin-left: calc((1vw + 1vh) * 0.50);
    font-family: "Lucida Console", "Courier New", monospace;
    margin-top: calc((1vw + 1vh) * 0.33);
    font-size: calc((1vw + 1vh) * 0.75);
    /*font-size:16px;*/
}
#p1 {
    margin-left: calc((1vw + 1vh) * 1.10);
    margin-top: calc((1vw + 1vh) * 1.60);
    margin-right: calc((1vw + 1vh) * 1.70);
    line-height: calc((1vw + 1vh) * 1);
}
#footertext {
    color: rgb(0, 150, 0);
    margin-left: calc((1vw + 1vh) * 1.10);
    position: absolute;
    margin-bottom:5px;
    bottom:0;
}

/*////////////////////////////////////////////////////////////////*/

#centerbox {
    /*display: flex;*/
    position: fixed;
    /*text-align: center;*/
    /*flex-direction: row;*/
    width: 80%;
    height: 71%;
    background-color: white;
    top: 7%;
    bottom:22%;
    right: 0;
    left: 20%;
    font-family: "Lucida Console", "Courier New", monospace;
}

#toolbar label {
    font-size: calc((1vw + 1vh) * 0.75);
}

#toolbar input {
    width: 10%;
}

#toolbar button {
    width: 10%;
}


