
body { 
    text-align: center; 
  } 
  #chesstable {
    height: 500px;
    width: 500px;
    margin: auto
  }
    
  .cell { 
    height: 80px; 
    width: 80px; 
    border: 1.5px solid grey; 
    border-style: inset; 
  } 
    
  .blackcell { 
    background-color: black; 
  } 
    
  .whitecell { 
    background-color: white; 
  }